h1{
    color: #5d5d4f;
    text-align:center;
    font-size: 50px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}




#pp{
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: transform ease 700ms;
}

#pp:hover {
    transform: scale(1.2);
}

#mail:hover {
    transform: scale(1.2);
}

#tel:hover {
    transform: scale(1.2); 
}

#IN:hover {
    transform: scale(1.2);
}

/* #liste{
    text-align: center;
    width: 300px;
    margin-left: 50%;
    margin-right: 50%;
} */

/* Mobile et plus */

html, body {
    min-height: 100vh;
}

html {
    background-image: url(téléchargement.jpeg);
    background-repeat: repeat;
}

body {
    margin: 0 20px;
    background-color:#fff1e6;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

header {
    background-color:#ddbea9;
    margin-bottom: 40px;
    padding: 10px 20px;
   
}

header h1 , footer h1{
    margin-top: 10px;
    color: #5d5d4f;
    font-family: 'Girassol', cursive;
    
   
}

header h2,header h3, header h4 {
    text-align: center;
    color: #8a2290;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

header h3 { 
    font-style: italic;
    font-size: 1em;
    }



footer {
    background-color:#ddbea9;
    padding-bottom: 20px; 
    
}


footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    
    }

.block {
    padding: 0 10px;
}

.block h2 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #a5a58d;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.test {
    margin-top: 100px;
}


/* À partir de 1024px de large */

@media screen and (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }


    .block {
        width: 30%;
    }
    
   
    
    
}

